<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<!-- Load properties file here -->
	<context:property-placeholder location="classpath:sport.properties" />

	<!-- Define your beans here -->

	<!-- Add a logger config to see logging messages. - For more detailed logs, 
		set values to "FINEST" - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html -->

	<bean id="springLogger"
		class="com.codegeek.springframework.xml_dependencyInjection.setterInjection.injectLiteralValues.propertyFile.SpringLogger"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>

<!-- Helper class -->
	<bean id="happyFortuneService"
		class="com.codegeek.springframework.xml_dependencyInjection.setterInjection.injectLiteralValues.propertyFile.HappyFortuneService">
	</bean>
	
	<!-- Helper class -->
	<bean id="tarotService"
		class="com.codegeek.springframework.xml_dependencyInjection.setterInjection.injectLiteralValues.propertyFile.TarotReadingService">
	</bean>


	<!-- Perform Constructor Injection below -->
	<bean id="trackCoach"
		class="com.codegeek.springframework.xml_dependencyInjection.setterInjection.injectLiteralValues.propertyFile.TrackCoach"
		init-method="doMyStartUpStuff" destroy-method="doMyCleanUpStuff">
		<!-- Set up Constructor injection -->
		<constructor-arg ref="happyFortuneService"></constructor-arg>
	</bean>
	
		<!-- Perform Constructor Injection below -->
	<bean id="swimCoach"
		class="com.codegeek.springframework.xml_dependencyInjection.setterInjection.injectLiteralValues.propertyFile.SwimmingCoach">
		<!-- Set up Constructor injection -->
		<constructor-arg ref="tarotService"></constructor-arg>
	</bean>

	<bean id="baseBallCoach"
		class="com.codegeek.springframework.xml_dependencyInjection.setterInjection.injectLiteralValues.propertyFile.BaseBallCoach">
		<!-- Set up Constructor injection -->
		<constructor-arg ref="happyFortuneService"></constructor-arg>
	</bean>
	
		<bean id="squashCoach"
		class="com.codegeek.springframework.xml_dependencyInjection.setterInjection.injectLiteralValues.propertyFile.SquashCoach">
		<!-- Set up Constructor injection -->
		<constructor-arg ref="happyFortuneService"></constructor-arg>
	</bean>
	
			<bean id="volleyBallCoach"
		class="com.codegeek.springframework.xml_dependencyInjection.setterInjection.injectLiteralValues.propertyFile.VolleyBallCoach" scope="prototype">
		<!-- Set up Constructor injection -->
		<constructor-arg ref="happyFortuneService"/>
	</bean>

	<bean id="cricketCoach"
		class="com.codegeek.springframework.xml_dependencyInjection.setterInjection.injectLiteralValues.propertyFile.CricketCoach">
		<!-- Set up setter injection -->
		<property name="fortuneService" ref="happyFortuneService" />
		<!-- Inject literal values -->
		<property name="emailID" value="www.bcci.in" />
		<property name="team" value="Team India" />
	</bean>

	<bean id="tennisCoach"
		class="com.codegeek.springframework.xml_dependencyInjection.setterInjection.injectLiteralValues.propertyFile.TennisCoach">

		<!-- Set up setter injection -->
		<property name="fortuneService" ref="happyFortuneService" />

		<!-- Inject literal values -->

		<property name="email" value="www.rogerfederer.com" />
		<property name="team" value="gladiators" />

		<!-- Inject literal values from property file -->
		<property name="captain" value="${foo.captain}" />
		<property name="coach" value="${foo.coach}" />
	</bean>


</beans>